
/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 20vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 500px;
    width: 300px;
    margin: auto 0;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  /* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
  }
/* ABOUT SECTION */

#about {
    
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
   
    justify-content: center;
    flex-direction: column;
    font-size: large;
    font-family: "Poppins", sans-serif;
  }
  
  .about-containers,
  .about-details-container {
   
    display: flex;
  }
  
  .about-pic {
    border-radius: 1rem;
  }
  .hidden {
    display: none;
  }
  .know-more-button {
  
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .text-container-fixed{
    display: flex;
    margin-top: 100px;
    position: relative;
  }
  
  .know-more-button:hover {
    color: black;
    background-color: #ffffff;
  }
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  .text-container{

   margin-top: 100px;
  }
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 1rem;
    height: 0%;
  }
  
  .section__pic-container {
    background-color: #0056b3;
  
    
    
  }

  @media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 2rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .section__text__p1 {
        margin-top: 120px;
        font-size: 1rem;
      }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .section__text__p1 {
        margin-top: 120px;
        font-size: 1rem;
      }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  