<!--==================== UNICONS ====================-->
<section id="pricing"></section>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<div class="body">
    <div class="pricing-body">
        <h2 class="pricing-header">What you will learn</h2>
        <section class="card container grid">
            <div class="card__container grid">
                <!--==================== CARD 1 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">Rs</span>2999
                        </div>
                        <span class="card__pricing-month">/course</span>
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="../../assets/img/coin/free-coin.png" alt="" class="card__header-img">
                        </div>

                        <!--<span class="card__header-subtitle">Free plan</span>-->
                        <h1 class="card__header-title">Angular</h1>
                    </header>

                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Angular Basics</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Creating new application</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Modules and Components</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Database Connection</p>
                        </li>

                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Deploy Application</p>
                        </li>
                    </ul>

                    <button class="card__button">Get this Course</button>
                </article>

                <!--==================== CARD 2 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">Rs</span>2999
                        </div>
                        <span class="card__pricing-month">/course</span>
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="../../assets/img/coin/pro-coin.png" alt="" class="card__header-img">
                        </div>

                        <!--<span class="card__header-subtitle">Most popular</span>-->
                        <h1 class="card__header-title">SpringBoot</h1>
                    </header>

                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Spring Initializer</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Creating Rest Services</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Connecting to postgresql</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Spring Data JPA</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Deploying application</p>
                        </li>
                    </ul>

                    <button class="card__button">Get this Course</button>
                </article>

                <!--==================== CARD 3 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">Rs</span>3999
                        </div>
                        <span class="card__pricing-month">/course</span>
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="../../assets/img/coin/enterprise-coin.png" alt="" class="card__header-img">
                        </div>

                        <!--<span class="card__header-subtitle">For agencies</span>-->
                        <h1 class="card__header-title">Ethical Hacking</h1>
                    </header>

                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Introduction to Kali Linux</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Types of Hacking</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Tools used</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Phishing</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Cross Site Scripting</p>
                        </li>
                    </ul>

                    <button class="card__button">Get this Course</button>
                </article>
                <!--==================== CARD 4 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">Rs</span>2999
                        </div>
                        <span class="card__pricing-month">/course</span>
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="../../assets/img/coin/free-coin.png" alt="" class="card__header-img">
                        </div>

                        <!--<span class="card__header-subtitle">Free plan</span>-->
                        <h1 class="card__header-title">Animation</h1>
                    </header>

                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Blender Introduction</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Creating simple objects</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Shadings</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Keyframes & Camera angle</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Rendering</p>
                        </li>
                    </ul>

                    <button class="card__button">Get this Course</button>
                </article>
                <!--==================== CARD 5 ====================-->
                <article class="card__content grid">
                    <div class="card__pricing">
                        <div class="card__pricing-number">
                            <span class="card__pricing-symbol">Rs</span>2999
                        </div>
                        <span class="card__pricing-month">/course</span>
                    </div>

                    <header class="card__header">
                        <div class="card__header-circle grid">
                            <img src="../../assets/img/coin/pro-coin.png" alt="" class="card__header-img">
                        </div>

                        <!--<span class="card__header-subtitle">Free plan</span>-->
                        <h1 class="card__header-title">UI/UX</h1>
                    </header>

                    <ul class="card__list grid">
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Figma</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Website Templates</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Mobile App Templates creating</p>
                        </li>
                        <li class="card__list-item">
                            <i class="uil uil-check card__list-icon"></i>
                            <p class="card__list-description">Responsive UX</p>
                        </li>
                    </ul>

                    <button class="card__button">Get this Course</button>
                </article>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>