<section id="services"></section>
<div class="body">
    <div class="container">
        <h1 class="container-header">Our Services</h1>
        <div class="card__container">
            <article class="card__article">
                <img src="../../assets/img/socialmedia/ethicalHacking.jpg" alt="image" class="card__img">

                <div class="card__data">
                    <!--<span class="card__description">Vancouver Mountains, Canada </span>-->
                    <h2 class="card__title">Ethical Hacking</h2>
                    <a href="#pricing" class="card__button">Read More</a>
                </div>
            </article>

            <article class="card__article">
                <img src="../../assets/img/socialmedia/angular.png" alt="image" class="card__img">

                <div class="card__data">

                    <h2 class="card__title">Angular</h2>
                    <a href="#pricing" class="card__button">Read More</a>
                </div>
            </article>

            <article class="card__article">
                <img src="../../assets/img/socialmedia/springboot.png" alt="image" class="card__img">

                <div class="card__data">

                    <h2 class="card__title">SpringBoot</h2>
                    <a href="#pricing" class="card__button">Read More</a>
                </div>
            </article>
            <article class="card__article">
                <img src="../../assets/img/socialmedia/blender.png" alt="image" class="card__img">
                <div class="card__data">
                    <h2 class="card__title">Animation</h2>
                    <a href="#pricing" class="card__button">Read More</a>
                </div>
            </article>
            <article class="card__article">
                <img src="../../assets/img/socialmedia/project-1.png" alt="image" class="card__img">
                <div class="card__data">
                    <h2 class="card__title">UI/UX</h2>
                    <a href="#pricing" class="card__button">Read More</a>
                </div>
            </article>
        </div>
    </div>
</div>
<app-pricing></app-pricing>